# Repetition structure (Loop)

## For Loop using in

In [12]:
#print('I will display the numbers 1 through 5.')
for num in [1, 2, 3, 4, 5]:
    print (num)

1
2
3
4
5

In [13]:
#print('I will display the odd numbers 1 through 9.')
for num in [1, 3, 5, 7, 9]:
    print(num)

1
3
5
7
9

In [14]:
# loop that uses a list of strings.

for name in ['Ali', 'Bilal', 'Ahmad']:
    print (name)

Ali
Bilal
Ahmad

## for loop using range

In [15]:
for num in range(5):
    print (num)

0
1
2
3
4

In [16]:
n=19
for num in range(1, 11):
    print (n,"*",num,"=",num*n)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

## while loop

In [17]:
n=19
num=1
while(num<=10):
    print (n,"*",num,"=",num*n)
    num+=1

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [18]:
x='y'
while(x!='n'):
    print("Hi")
    x=input("do u continue y/n: ")

Hi
do u continue y/n: y
Hi
do u continue y/n: n

In [19]:
for num in range(1, 10,2):
	print (num)

1
3
5
7
9

### More Examples of for and while

In [20]:
value = int(input("Enter an integer: "))
counter = 0;         # initialize an accumulator variable
for i in range(1, value):
   if i % 5 == 0:         # if the index is divisible by 5
      counter = counter + 1;      #  add it to the accumulator
print ("There are", counter, "numbers divisible by 5 in the range 1 through", value)

Enter an integer: 5
There are 0 numbers divisible by 5 in the range 1 through 5

In [21]:
sum = 0;
more = 'y'         # initialize an accumulator variable
while more == 'y':
   value = int(input("Enter an integer: "))
   sum = sum + value      #  add it to the accumulator
   more = input('Sum more values? (y for yes): ')
   
print ("Your total is: %d" % sum)

Enter an integer: 7
Sum more values? (y for yes): n
Your total is: 7

In [22]:
value = int(input("Enter an integer: "))
sum = 0;                  # initialize an accumulator variable
for i in range(1, value):
   if i % 5 == 0:        # if the index is divisible by 5
      sum = sum + i;     #  add it to the accumulator
print ("In the range 1 through %d" % value + \
      "\n\tthe sum of the numbers that are divisible by 5 = %d" % sum)

Enter an integer: 8
In the range 1 through 8
	the sum of the numbers that are divisible by 5 = 5

In [23]:

value = int(input("Enter an integer: "))
product = 1;         # initialize an accumulator variable
for i in range(1, value):
   if i % 5 == 0:         # if the index is divisible by 5
      product = product * i;
      print (product)      #  add it to the accumulator
print ("In the range 1 through %d" % value + \
      "\n\tthe product of the numbers that are divisible by 5 = %d" % product)

Enter an integer: 9
5
In the range 1 through 9
	the product of the numbers that are divisible by 5 = 5

In [24]:
for x in range (0,3) :
    print ('Loop execution',x)

Loop execution 0
Loop execution 1
Loop execution 2

In [25]:
for letter in 'TutorialsCloud': 
   print ('Current letter is:', letter)

Current letter is: T
Current letter is: u
Current letter is: t
Current letter is: o
Current letter is: r
Current letter is: i
Current letter is: a
Current letter is: l
Current letter is: s
Current letter is: C
Current letter is: l
Current letter is: o
Current letter is: u
Current letter is: d

In [26]:
#initialize count variable to 1
count =1

while count < 6 :
    print (count)
    count+=1
#the above line means count = count + 1

1
2
3
4
5

In [27]:
for g in range(1, 6):
    for k in range(1, 3):
        #print ("%d * %d = %d" % ( g, k, g*k))
        print (g,"*",k, "=" , g*k)

1 * 1 = 1
1 * 2 = 2
2 * 1 = 2
2 * 2 = 4
3 * 1 = 3
3 * 2 = 6
4 * 1 = 4
4 * 2 = 8
5 * 1 = 5
5 * 2 = 10

In [28]:
for g in range(1, 6):
    for k in range(1, 3):
        print ("%d * %d = %d" % ( g, k, g*k))
       # print (g,"*",k, "=" , g*k)

1 * 1 = 1
1 * 2 = 2
2 * 1 = 2
2 * 2 = 4
3 * 1 = 3
3 * 2 = 6
4 * 1 = 4
4 * 2 = 8
5 * 1 = 5
5 * 2 = 10

In [29]:
count = 0

while count <= 10:
    print (count)
    count += 1
    if count >= 3:
        break

0
1
2

In [30]:
for x in range(10):
   #check whether x is even
   if x % 2 == 0:
        continue
   print (x)

1
3
5
7
9

### Printing individual character of String

In [31]:
for letter in 'TutorialsCloud': 
   if letter == 'C':
      pass
      print ('Pass block')
   print ('Current letter is:', letter)

Current letter is: T
Current letter is: u
Current letter is: t
Current letter is: o
Current letter is: r
Current letter is: i
Current letter is: a
Current letter is: l
Current letter is: s
Pass block
Current letter is: C
Current letter is: l
Current letter is: o
Current letter is: u
Current letter is: d

In [32]:
#Taking user input
n = int(input("Enter a number: "))

factorial = 1

if n < 0: #Check if the number is negative
   print("Factors do not exist for negative numbers.")
elif n == 0: #Check if the number is zero
   print("The factorial of 0 is 1.")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

In [33]:
#Taking user input
num = int(input('Enter a number:'))

if num < 0:
   num = input('Please enter a positive number:')
else:
   sum = 0
   #Loop to iterate till zero
   while(num > 0):
       sum += num
       num -= 1
    
   print("The sum of the natural numbers is:", sum)

Enter a number:3
The sum of the natural numbers is: 6

In [34]:
counter = 0;

for i in range(8): 
   for j in range(3):
      counter+=1;
      print ("counter = ", counter)

counter =  1
counter =  2
counter =  3
counter =  4
counter =  5
counter =  6
counter =  7
counter =  8
counter =  9
counter =  10
counter =  11
counter =  12
counter =  13
counter =  14
counter =  15
counter =  16
counter =  17
counter =  18
counter =  19
counter =  20
counter =  21
counter =  22
counter =  23
counter =  24

In [35]:
for i in range(10):
   for j in range(15):
      print ('*',end =" ")
   print ('')

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [36]:
for i in range(10):
   for j in range(i):
      print ('*',end =" ")
   print ('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

### Print without newline in Python 3.x without using for loop

In [37]:
# Print without newline in Python 3.x without using for loop

l=[1,2,3,4,5,6]

# using * symbol prints the list
# elements in a single line
print(*l)

#This code is contributed by anuragsingh1022

1 2 3 4 5 6

In [38]:
l= ['Ali', 'Bilal', 'Ahmad']
print(*l)

Ali Bilal Ahmad

#### While with always True

In [39]:
secret_word = "python"
counter = 0

while True:
    word = input("Enter the secret word: ").lower()
    counter = counter + 1
    if word == secret_word:
        break
    if word != secret_word and counter > 7: 
        break

Enter the secret word: python

In [40]:
number = 0
while number < 10:
    print(f"Number is {number}!")
    number = number + 1

Number is 0!
Number is 1!
Number is 2!
Number is 3!
Number is 4!
Number is 5!
Number is 6!
Number is 7!
Number is 8!
Number is 9!

### Python program to demonstrate the use of formatting using %

In [41]:
# Python program to demonstrate the use of formatting using %

# Initialize variable as a string
variable = '15'
string = "Variable as string = %s" %(variable)
print (string )

# Printing as raw data
# Thanks to Himanshu Pant for this
print ("Variable as raw data = %r" %(variable))

# Convert the variable to integer
# And perform check other formatting options

variable = int(variable) # Without this the below statement
						# will give error.
string = "Variable as integer = %d" %(variable)
print (string)
print ("Variable as float = %f" %(variable))

# printing as any string or char after a mark
# here i use mayank as a string
print ("Variable as printing with special char = %c" %(variable))

print ("Variable as hexadecimal = %x" %(variable))
print ("Variable as octal = %o" %(variable))

Variable as string = 15
Variable as raw data = '15'
Variable as integer = 15
Variable as float = 15.000000
Variable as printing with special char = 
Variable as hexadecimal = f
Variable as octal = 17

In [42]:
name = 'Peter'
age = 23

print('%s is %d years old' % (name, age))
print('{} is {} years old'.format(name, age))
print(f'{name} is {age} years old')

Peter is 23 years old
Peter is 23 years old
Peter is 23 years old

### adding spaces using %

In [43]:
# Print the table headings.
number='abc'
square = 'xyz'
age = 20
#print ('%15s %20s' % ('Number', 'Square'))
print ("1",'%10s %10s %10d' % (number, square,age))

1        abc        xyz         20