#### Values and data types

In [12]:
type("HelloWorld!")

str

In [2]:
type(17)

int

In [3]:
type(3.2)

float

In [4]:
type("17")

str

In [5]:
type("3.2")

str

In [6]:
type('This is a string.')

str

In [7]:
type("And so is this.")

str

In [8]:
type("""and this.""")

str

In [9]:
type('''and even this...''')

str

##### Triple quoted strings can even span multiple lines:

In [15]:
message = """This message will
... span several
... lines."""
print (message)

This message will
span several
lines.

##### Strings in Python can be enclosed in either single quotes (') or double quotes ("), or three of each (''' or """)

##### Double quoted strings can contain single quotes inside them, as in "Bruce's beard", and single quoted strings can have double quotes inside them, as in 'The knights who say "Ni!"'.

Strings enclosed with three occurrences of either quote symbol are called triple quoted strings. They can contain either single or double quotes:

In [16]:
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''')

"Oh no", she exclaimed, "Ben's bike is broken!"

## Operators and operands

In [17]:
2 ** 3

8

In [18]:
7 / 4

1.75

In [19]:
7 // 3

2

In [20]:
int(3.14)

3

In [22]:
5679%10

9

In [23]:
int(3.9999)

3

In [24]:
int(-3.999)

-3

In [25]:
minutes = 200
int(minutes / 60)

3

In [26]:
int("2345")

2345

In [27]:
int(17)

17

In [28]:
int("23 bottles")

ValueError: invalid literal for int() with base 10: '23 bottles'

In [29]:
float(17)

17.0

In [30]:
float("123.45")

123.45

## Order of operations

#### Python follows the same precedence rules for its mathematical operators that mathematics does. The acronym PEMDAS is a useful way to remember the order of operations:

##### Parentheses, Exponentiation, Multiplication and both Division operators have the same precedence, 
##### which is higher than Addition and Subtraction. Operators with the same precedence are evaluated from left-to-right

#####  an exception to the left-to-right left-associative rule is the exponentiation operator **, so a useful hint is to always use parentheses to force exactly the order you want when exponentiation is involved

In [32]:
2 ** 3 ** 2

512

In [33]:
(2 ** 3) ** 2

64

### Operations on strings

In [34]:
message - 1        # Error
"Hello" / 123      # Error
message * "Hello"  # Error
"15" + 2           # Error

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [35]:
fruit = "banana"
baked_good = " nut bread"
print(fruit + baked_good)   # concatenation

banana nut bread

In [36]:
'Fun'*3

'FunFunFun'

## Input

In [43]:
n = input("Please enter your name: ")
# n=int(n)
print(n)

print(type(n))

Please enter your name: ali raza
ali raza
<class 'str'>

#### The modulus operator
##### works on integers

In [44]:
r  = 17 % 3
print(r)

2

In [45]:
total_secs = int(input("How many seconds, in total?"))
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes1 =  secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining  % 60

print("Hrs=", hours, "  mins=", minutes1,
                         "secs=", secs_finally_remaining)

How many seconds, in total?7700
Hrs= 2   mins= 8 secs= 20

### Composition

In [ ]:
response = input("What is your radius? ")
r = float(response)
area = 3.14159 * r**2
print("The area is ", area)

In [ ]:
r = float( input("What is your radius? ") )
print("The area is ", 3.14159 * r**2)

In [46]:
print("The area is ", 3.14159*float(input("What is your radius?"))**2)

SyntaxError: invalid syntax (Temp/ipykernel_7508/4244032744.py, line 1)